a:visited {
    color: -webkit-link;
}

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, Times, Times New Roman, sans-serif;
    line-height: 150%;
}

*:focus {
    outline: none;
}

button {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #00e;
    background: #fff;
    border: 1px solid #00e;
    border-radius: 8px;
    height: 30px;
    line-height: 1px;
}

button:active {
    background: #00e;
    color: #fff;
}

button#delete {
    color: #f00;
}

section {
    float: right;
    width: 70%;
}

[contenteditable=true] a:hover{
    cursor: pointer;
}

aside {
    float: left;
    width: 24%;
    padding: 3%;
    position: fixed;
}

aside ul {
    padding: 0;
}

nav {
    position: fixed;
    padding-top: 3%;
    padding-bottom: 1%;
    background: #fff;
    width: 100%;
}

article {
    margin: 15%;
    margin-left: 0;
}

.highlighted {
    background: #ff0;
}

a:visited {
    color: #00f;
}
