a:visited {
    color: -webkit-link;
}

body {
    padding: 60px;
    padding-top: 25px;
    font-family: Georgia, Times, Times New Roman, sans-serif;
    line-height: 150%;
}

*:focus {
    outline: none;
}

button {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #00e;
    background: #fff;
    border: 1px solid #00e;
    border-radius: 8px;
}

button:active {
    background: #00e;
    color: #fff;
}

button#delete {
    color: #f00;
}

article {
    margin-bottom: 10px;
    clear: both;
    padding-top: 10px;
}

nav {
    margin-top: 50px;
    margin-left: 5px
}

body > a:first-child {
    display: block;
    float: left;
    text-decoration: none;
    font-size: 120%;
    margin-left: -20px;
    margin-bottom: 10px;
}

[contenteditable=true] a:hover{
    cursor: pointer;
}

.formatting.toolbar {
    position: fixed;
    float: left;
    left: 10px;
    top: 75px;
}

.formatting.toolbar button {
    display: block;
    width: 35px;
    height: 35px;
    font-size: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

[type=search] {
    float: right;
}
