<h1 contenteditable="true">Campaign planner</h1>
<section class="content" contenteditable="true" data-empty="false">
    <h2>The town</h2>
    <p>What is your starting town called?</p>
    <p>What is the name of the local inn?</p>
    <p>Who do we meet in that inn?</p>
    <h2>Geography</h2>
    <p>What is the name of the main road?</p>
    <p>What is the local river?</p>
    <p>A local forest</p>
    <p>The nearby hills</p>
    <p>Two nearby villages</p>
    <p>A distant city</p>
    <h2>Government</h2>
    <p>Who rules this area?</p>
    <p>Who are the town elders?</p>
    <h2>Culture</h2>
    <h2>Religion</h2>
    <p>God of Knowledge</p>
    <p>God of Life</p>
    <p>God of Light</p>
    <p>God of Nature</p>
    <p>God of Tempest</p>
    <p>God of Trickery</p>
    <p>God of War</p>
    <h2>NPCs</h2>
    <p>Who's the local expert on the Arcane?</p>
    <p>Who's the local religious expert?</p>
    <p>Who knows the most about the area's history?</p>
    <p>Who knows the most about the local geography?</p>
    <h2>Adventure</h2>
    <p>Who are the local low-level monster tribe?</p>
    <p>A slightly farther off mid-level monster tribe:</p>
    <p>Who is the local Evil Boss?</p>
    <p>What do they want?</p>
    <p>What will happen if they get it?</p>
    <h2>Lore</h2>
    <p>Everybody knows…</p>
    <p>Very few people know…</p>
    <p>No one knows…</p>
</section>
