<!DOCTYPE html>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/static/default.css">
<body>
<a href="/">☿ All pages</a>
<input id="search" type="search" placeholder="Search">
{% block toolbar %}{% endblock %}
<article>
{% block content %}{% endblock %}
</article>
<nav>
<button type="submit" id="save">Save</button>
<button disabled id="versions">Versions</button>
<button id="delete">Delete</button>
</nav>
<script src="/static/search.js"></script>
{% block scripts %}
{% endblock %}
</body>
