<!DOCTYPE html>
<meta charset="utf-8">
<title>{{title}}</title>
<link rel="stylesheet" href="/static/css/main.css">

<body>
  <form class="upload">
    <input type="file" class="upload__input" multiple accept="image/*">
  </form>
  <aside>
    <input class="search" type="search" placeholder="Search">
    <ul class="pages">
      {% for page in pages %}
      <a href="/{{page}}">{{page}}</a>
      {% endfor %}
    </ul>
  </aside>
  <main>
    <nav class="toolbar">
      <button class="link" title="Insert link">Link</button>
      <button class="list" title="Insert bulleted list">List</button>
      <button class="h2" title="Subheading">H2</button>
      <button class="blockquote" title="Blockquote">Quote</button>
      <button class="save" title="save">Save</button>
      <button class="delete" title="Delete">Delete</button>
    </nav>
    <article>
      {% if content %}
      <h1>{{title}}</h1>
      <section class="content" data-empty="false">
        {% autoescape false %}
        {{content}}
        {% endautoescape %}
      </section>
      {% else %}
      <h1>{{title}}</h1>
      <section class="content" data-empty="true">
        <p>…</p>
      </section>
      {% endif %}
    </article>
  </main>
  <script src="/static/javascript/app.js" type="module"></script>
</body>
