$border-color: hsl(0, 0%, 80%);
$content-width: 40rem;
$notification: 90;
$top: 100;
$system-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
$system-serif: "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times,
    "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

body {
    flex-direction: row;
    padding: 0;
    margin: 0;
    font-family: $system-serif;
    line-height: 150%;
}

*:focus {
    outline: none;
}

button {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #00e;
    background: #fff;
    border: 1px solid #00e;
    border-radius: 4px;
    height: 30px;
    line-height: 1;

    &:active {
        background: #00e;
        color: #fff;
    }

    &.delete {
        color: #f00;
    }
}

.ui-main {
    display: flex;
    flex-direction: row;
}

main {
    height: 100vh;
    overflow: scroll;
    // width: 70%;
}

a {
    // for contenteditable links
    cursor: pointer;
}

aside {
    height: calc(100vh - 6rem);
    padding: 3rem;
    width: 20rem;
}

aside,
.toolbar {
    user-select: none;
}

.toolbar {
    background: #fff;
    height: 4rem;
    line-height: 4rem;
    position: fixed;
    width: 100%;

    &__group {
        display: inline;
        margin-right: 10px;
        padding-right: 10px;
    }

    &__button {
        text-transform: capitalize;
        transition: opacity 0.25s;
        transition: background 0.25s;
        transition: color 0.25s;

        &--active {
            background: #00e;
            color: #fff;
        }

        &--readonly {
            text-transform: none;
        }
    }

    &--hidden &__button {
        pointer-events: none;
        opacity: 0;
    }

    &--hidden &__button--static {
        pointer-events: initial;
        opacity: 1;
    }
}

article {
    margin: 15%;
    margin-left: 0;
    margin-top: 12%;
    width: $content-width;
}

.highlighted {
    background: #ff0;
}

a,
a:visited {
    color: #00f;
}

.pages {
    margin-left: 10px;
    padding: 0;

    a {
        display: block;
    }
}

h1 {
    border-bottom: 1px solid $border-color;
    font-size: 150%;
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 135%;
}

h3 {
    font-size: 115%;
}

blockquote {
    background: hsla(45, 80%, 95%, 1);
    border: 1px solid $border-color;
    font-style: italic;
    margin: 1rem -1rem;
    padding: 1rem;
}

.search {
    height: 2rem;
    -webkit-appearance: none;
    border: 1px solid $border-color;
}

.upload {
    display: none;
}

.content {
    img {
        cursor: pointer;
        max-width: $content-width;
    }
}

.image-viewer {
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.9);
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $top;

    img {
        max-height: 100vh;
        max-width: 100vw;
    }

    &--visible {
        display: flex;
    }
}

.notification {
    background-color: hsla(0, 0%, 100%, 0.9);
    border: 1px solid $border-color;
    bottom: -100px;
    font-family: $system-sans;
    font-size: 12px;
    padding: 1rem 2rem;
    position: fixed;
    text-align: center;
    transition: bottom 0.5s;
    width: 100vw;
    z-index: $notification;

    &--active {
        bottom: 0px;
        display: block;
    }
}

em {
    font-style: normal;
    font-weight: bold;
}
