$bordercolor: hsl(0, 0%, 80%);

body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    font-family: Georgia, Times, "Times New Roman", sans-serif;
    line-height: 150%;
}

*:focus {
    outline: none;
}

button {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #00e;
    background: #fff;
    border: 1px solid #00e;
    border-radius: 4px;
    height: 30px;
    line-height: 1;

    &:active {
        background: #00e;
        color: #fff;
    }

    &.delete {
        color: #f00;
    }
}

main {
    width: 70%;
}

a {
    // for contenteditable links
    cursor: pointer;
}

aside {
    width: 24%;
    padding: 3%;
    // TODO:
    // position: fixed;
}

aside,
.toolbar {
    user-select: none;
}

nav {
    position: fixed;
    padding-top: 3%;
    padding-bottom: 1%;
    background: #fff;
    width: 100%;
}

article {
    margin: 15%;
    margin-left: 0;
    margin-top: 12%;
    max-width: 40rem;
}

.highlighted {
    background: #ff0;
}

a,
a:visited {
    color: #00f;
}

.pages {
    margin-left: 10px;
    padding: 0;

    a {
        display: block;
    }
}

.checkbox {
    padding-left: 20px;
    list-style-type: none;
}

h1 {
    border-bottom: 1px solid $bordercolor;
    font-size: 140%;
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 120%;
}

blockquote {
    background: hsla(45, 80%, 95%, 1);
    border: 1px solid $bordercolor;
    font-style: italic;
    margin: 1rem -1rem;
    padding: 1rem;
}

.search {
    height: 2rem;
    -webkit-appearance: none;
    border: 1px solid $bordercolor;
}
